.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #66b7e2;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 250px;
}
h2 {
    padding: 15px;
}
.counter-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}